# Documentación del .gitignore - https://git-scm.com/docs/gitignore
# Plantillas para el .gitignore - https://github.com/github/gitignore
# Directivas comunes para el .gitignore - https://gist.github.com/octocat/9257657
# Considera añadir software específico para ignorar en ~/.gitignore_global
#
# Directivas comúnmente usadas:
#
# .DS_Store
# .DS_Store?
# ._*
# .Spotlight-V100
# .Trashes
# ehthumbs.db
# Thumbs.db
# npm-debug.log
# .env
#
# .idea/
# node_modules/
# vendor/
# build/
# dist/
